.description{
    font-family:'Poppins',sans-serif;
    font-size:18px;
    font-style:italic;
    font-weight:bold;
    text-align:center;
    text-transform:capitalize;
    letter-spacing:2px;
    line-height:1.8;
}